{
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": false,
  "singleQuote": false,
  "printWidth": 100,
  "trailingComma": "all",
  "tabWidth": 2,
  "bracketSpacing": true,
  "bracketSameLine": false
}
